<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yiki.mybatis.mapper.FirmMapper">


    <!-- =====Firm info====== -->
    <insert id="insertFirmInfo"
            keyProperty="cid"
            parameterType="yiki.mybatis.bean.FirmInfo">
    insert into firminfo(cid,name,email,phone,region,intro,type,num,brief)
    values(#{cid},#{name},#{email},#{phone},#{region},#{intro},#{type},#{num},#{brief})
  </insert>

    <select id="getFirmInfoByCid" resultType="yiki.mybatis.bean.FirmInfo">
       select * from firminfo where  cid =#{cid}
   </select>

    <select id="getAllFirmInfo" parameterType="map" resultType="map">
         select * from firminfo ORDER BY cid DESC LIMIT 8
    </select>

    <!-- =======Firm======= -->
    <select id="getFirmById" resultType="yiki.mybatis.bean.Firm">
       select * from firm where  cid =#{cid}
   </select>


    <insert id="insertFirm"
            useGeneratedKeys="true" keyProperty="cid"
            parameterType="yiki.mybatis.bean.Firm">
    insert into firm(cname,clabelname, cemail,cpassword)
    values(#{cname},#{clabelname},#{cemail},#{cpassword})
  </insert>

    <!--根据姓名和密码查询-->
    <select id="getFirmByNameAndPassword" resultType="yiki.mybatis.bean.Firm">
       select * from firm where cname=#{cname} and cpassword=#{cpassword}
   </select>


</mapper>