<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yiki.mybatis.mapper.ResumeMapper">


    <!--投递简历功能-->
    <insert id="deliver"
            keyProperty=""
            parameterType="yiki.mybatis.bean.Send">
    insert into send
    (uid,uname,cid,jid,jname,replay)
    values
    (#{uid},#{uname},#{cid},#{jid},#{jname},#{replay})
  </insert>
    <!--查询重复投递-->
    <select id="getSendByUidAndJid" resultType="yiki.mybatis.bean.Send">
       select * from send where  uid =#{uid} and jid =#{jid}
   </select>

    <!--根据用户ID查询-->
    <select id="getResumeByuid" resultType="yiki.mybatis.bean.Resume">
       select * from resume where  uid =#{uid}
   </select>

    <insert id="insertResume"
            keyProperty="uid"
            parameterType="yiki.mybatis.bean.Resume">
    insert into resume
    (uid, name, email,phone,region,school,degree,age,self,occupation,type,status,pay)
    values
    (#{uid},#{name},#{email},#{phone},#{region},#{school},#{degree},#{age},#{self},#{occupation},#{type},#{status},#{pay})
  </insert>

</mapper>